<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header') %> 

            <form action="#" >
                <div class="buttons">
                    <button class="add-menu" type="submit"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
            </form>

    </header>

    <main>
        <section class="products">
            <div class="productContainer">
                </section>


                <div class="product">
                    <div class="imgProduct"><img src="../img/imgs/gin-merle-blue-.webp"></div>
                    <h3>Gin Merle Blue</h3>
                    <h2>$8.000</h2>
                    <button type="submit"> Agregar al carrito </button>
                    <h4> Cantidad: </h4> <select name="product-amount" id="">
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                    </select>
                    <p class="desc">Descripción: 
                        <br>
                        1 Blue Merle 750cc.
                        <br>
                        Un Gin Premium 100% natural. Gracias a su particular combinación de botánicos transforma su color azulado en un original rosa al entrar en contacto con la tónica.</p>  
                        
                    <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                    <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>