<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/productCreateForm.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="top-header">

        <a href="/">
            <div class="logo-to-menu"> <img class="header-logo" src="../img/icons/logo-sin-fondo-1-beige.png" alt="logo" > </a>
        </a>
</header>
<main>
    <form method="post" action = "/save" enctype="multipart/form-data">
        <div class="registroProducto-prod-create-form">
            
            <h3> CREACIÓN DE PRODUCTOS</h3>

            <br>
            <label for="codigo"></label>
            <h4>Código de Producto: </h4>
            <input  type="number" name="id" id="id" placeholder="Código" required> 
            <br>

            <label for="nameproduct"></label>
            <h4>Nombre del Producto: </h4><input type="text" name="name" id="name" placeholder="Nombre del Producto" required>
            <br>

            <label for="description"></label>
            <h4>Descripción: </h4><input type="text" name="description" id="description" placeholder="Descripción">
            <br>

            <label for="price"></label>
            <h4>Precio: </h4>
            <input type="number" name="price" id="price" placeholder="Precio">
            <br>
            
            <label for="varietal"></label>
            <h4>Variedad: </h4><input type="text" name="varietal" id="varietal" placeholder="Variedad" required>
            <br>

            <label for="year"></label>
            <h4>Año de Cosecha: </h4><input type="text" name="year" id="year" placeholder="Año de Cosecha" required>
            <br>
            
            <label for="origen"></label>
            <h4>País de Origen: </h4><input type="text" name="origen" id="origen" placeholder="País de Origen" required>
            <br>
            
            <label for="region"></label>
            <h4>Región: </h4><input type="text" name="region" id="region" placeholder="Región" required>
            <br>
            
            <label for="category"></label>
            <h4>Categorías</h4>
            <div class="categories-prod-create-form">
                <select class="categorie-select-prod-create-form" name="category" id="" required>
                    <option value="">Seleccionar</option>
                    <option value="Destilados">Destilados</option>
                    <option value="Vinos">Vinos</option>
            
                </select>
                </div>
            </br>
            
            <label for="image"></label>
            <h4 class="prod-img-prod-create-form">Imágen de producto</h4><input type="file" name="image" id="image">
            
            <br>
            <div class="prodCreate-buttons-prod-create-form">
                <button type="submit" value="Crear">CREAR</button>
                
                <!-- <button type="reset" value="Borrar">BORRAR</button>
                <br> -->
            </div>

            
        </div>
    </form>
</main>
</body>
<br>
<footer>
    <div class="grupo2">
    <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
</div>
</footer>
