<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/productCreateForm.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="top-header">

        <a href="/">
            <div class="logo-to-menu"> <img class="header-logo" src="../img/imgs/logo-sin-fondo-1-beige.png" alt="logo" > </a>
        </a>
</header>
<main>
    <form action = "/">
        <div class="registroProducto">
            
              
            
            <h3> FORMULARIO DE CREACION DE PRODUCTOS</h3>

            
            <br>
            <label for="codigo"></label>
            <h4>Codigo de Producto: </h4><input  type="text" name="codigo" id="codigo" placeholder="Codigo" required> 
            <br>

            <label for="nameproduct"></label>
            <h4>Nombre del Producto: </h4><input type="text" name="nombre" id="name" placeholder="Nombre del Producto" required>
            <br>

            <label for="description"></label>
            <h4>Descripci칩n: </h4><input type="text" name="description" id="description" placeholder="Description*">
            <br>

            
            <label for="variedad"></label>
            <h4>Variedad: </h4><input type="text" name="variedad" id="variedad" placeholder="Variedad" required>
            <br>

            <label for="cosecha"></label>
            <h4>A침o de Cosecha: </h4><input type="text" name="cosecha" id="cosecha" placeholder="A침o de Cosecha" required>
            <br>

            <label for="crianza"></label>
            <h4>Crianza: </h4><input type="text" name="crianza" id="crianza" placeholder="Crianza"required>
            <br>
            
            <label for="pais"></label>
            <h4>Pais de Origen: </h4><input type="text" name="pais" id="pais" placeholder="Pais de Origen" required>
            <br>
            
            <label for="region"></label>
            <h4>Region: </h4><input type="text" name="region" id="region" placeholder="Region" required>
    
            <br>
            <label for="categories"></label>
            <h4>Categorias</h4>
            <div class="categories">
                <select name="categorias" id="" required>
                    <option value="">Seleccionar</option>
                    <option value="Destilados">Destilados</option>
                    <option value="Vinos">Vinos</option>
            
                </select>
                </div>
            </br>
            
            <label for="prod-img"></label>
            <h4>Im치gen de producto</h4><input type="file" name="prod-img" id="prod-img" required>
            
            <br>
            <div class="prodCreate-buttons">
                <button type="submit" value="Guardar">GUARDAR</button>
                
                <button type="reset" value="Borrar">BORRAR</button>
                <br>
            </div>

            
        </div>
    </form>
</main>
</body>
<br>
<footer>
    <div class="grupo2">
    <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
</div>
</footer>
