<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--FONTS Agregadas-->
    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">

    <title>Carrito</title>
</head>
<header>
    <body>
        <div class="top-header">

            <img class="header-logo" src="../public/img/imgs/Logo sin fondo 1 bordo.png" alt="logo" >

            <div class="searching">
                <input class="search-nav" type="search" name="search-nav">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        
            <button> <a href="/register"></a><i class="fa-solid fa-circle-user"></i> </button>   
            <button> <a href="/carrito"></a><i class="fa-solid fa-cart-shopping"></i> </button>

        </div>
        <nav>
            <div>
                
                <ul class="navegacionBarra">
                    <li> <a href="">Home</a> </li>
                    <li> <a href="">Productos</a> </li>
                    <li> <a href="">Carrito</a> </li>
                    <li> <a href="">Login</a> </li>
                    <li> <a href="">Crear Cuenta</a> </li>

                </ul>

            </div>
        </nav>
        <!--Carrito detalle de items-->
        <div class="carritoPag">
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="carritoInfo">
                            <img src="../imagenes-productos/gin-merle-blue-.webp" alt="">
                            <div class="detalleProducto">
                                <p> Gin Merle Blue</p>
                                <small>Precio $8.000</small>
                            </div>
                        </div>
                    </td>
                    <td><input type="numbre" value="1"></td>
                    <td>$8.000</td>
                </tr>
                <tr>
                    <td>
                        <div class="carritoInfo">
                            <img src="../imagenes-productos/Gin combo floral blue-merle.webp" alt="">
                            <div class="detalleProducto">
                                <p> Gin Combo Florar Merle</p>
                                <small>Precio $15.000</small>
                            </div>
                        </div>
                    </td>
                    <td><input type="numbre" value="1"></td>
                    <td>$15.000</td>
                </tr>
                <tr>
                    <td>
                        <div class="carritoInfo">
                            <img src="../imagenes-productos/Gin Bosque Alta Montaña.webp" alt="">
                            <div class="detalleProducto">
                                <p> Gin Bosque</p>
                                <small>Precio $10.000</small>
                            </div>
                        </div>
                    </td>
                    <td><input type="numbre" value="1"></td>
                    <td>$10.000</td>
                </tr>
            </table>

            <div class="totalPrecio">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$33.000</td>
                    </tr>
                    <tr>
                        <td>Envio</td>
                        <td>$3.000</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$36.000</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Footer nuevo preguntar que les parece-->
        <footer class="pieDePagina">
            <div class="grupo1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../public/img/imgs/Logo sin fondo 1 beige.png">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>Sobre Nosotros</h2>
                    <ul>
                        <li>Ayuda</li>
                        <li>Como comprar</li>
                        <li>Envios</li>
                        <li>Nosotros</li>
                        <li>Preguntas frecuentes</li>
                        <li>Términos y condiciones</li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Contactanos</h2>
                    <ul>
                        <li>Aplicación</li>
                        <li>Conviertete en afiliado</li>
                        <li>Vende tus productos con nosotros</li>
                        <li>Política de privacidad</li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Siguenos</h3>
                        <div class="redSocial">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-youtube"></a></li>
                        </div>
                </div>
            </div>
            <div class="grupo2">
                <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
            </div>
        </footer>
    </body>
</header>
</html>