<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/index.css">
        
        <title>Inicio</title>
    </head>
    
    <body>
    <header>
            <div class="top-header">
                <a href="/">
                <div class="logo-to-menu"> <img class="header-logo" src="../img/imgs/logo-sin-fondo-1-beige.png" alt="logo" > </a>
                </a>

                <!-- <button>
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                </button> -->

                <div class="searching">
                    <input class="search-nav" type="search" name="search-nav" placeholder="Busca tu producto">
                
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="buttons">
                    <button class="user"> <a href="login"><i class="fa-solid fa-circle-user"></i></a> </button>
        
                    <button class="cart"> <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a> </button>
    
                </div>
                
                

            </div>
            <nav>
                <div>
                    
                    <ul class="navegacionBarra">
                        <li> <a href="">Home</a> </li>
                        <li> <a href="/productDetail">Productos</a> </li>
                        <li> <a href="/carrito">Carrito</a> </li>
                        <li> <a href="/login">Login</a> </li>
                        <li> <a href="/register">Crear Cuenta</a> </li>

                    </ul>

                </div>
            </nav>
            <nav>
                <div class="nav-bar">
                    
                    <!--<ul>
                        <li> <i class="fa-solid fa-wine-glass-empty"></i> <a href="">Vinos</a> </li>
                        <li> <i class="fa-solid fa-wine-bottle"></i> <a href="">Destilados</a> </li>
                        <li> <i class="fa-solid fa-utensils"></i> <a href="">Maridajes</a> </li>
                        <li> <i class="fa-solid fa-martini-glass-citrus"></i> <a href="">Cócteles</a> </li>
                        <li> <i class="fa-solid fa-tags"></i> <a href="">Ofertas</a> </li>

                    </ul>-->

                </div>

            </nav>
        </header>
    <hr>
    <main>
            <img   class="carrusel" src="../img/imgs/carrusel3.3.jpg" alt="carrusel">
            <section class="all-products">

                <article class="prod-carmelo">
                    <img src="../img/imgs/prod -carmelo-patti.webp" alt="" >
                    
                    <div class="data"> 
                        <h3> Carmelo Patti </h3>
                        <p> $5.000 </p>
                        <br>
                        <h4> Uva: 100% Malbec.
                             <br>
                            Región: Agrelo & Perdriel, Luján de 
                            <br>
                            Cuyo, Mendoza.
                             <br>
                             Alcohol: 13,8%.
                             <br>
                             Enólogo: Carmelo Patti. 
                        </h4>
                    </div>
                    
                </article>

                <article class="prod-cabernet">
                    <img src="../img/imgs/produc-insolito-cabernet-franc.jpg" alt="">
                    <div class="data"> 
                        <h3> Insólito Cabernet Franc </h3>
                        <p> $13.200 </p>
                        <br>
                        <h4> Varietal: 100% Cabernet Franc.
                            <br>
                             Añejamiento: 24 meses en barricas de 
                             <br>
                             roble francés.
                             <br>
                             El Cabernet Franc es una variedad que 
                             <br>
                             madura lentamente en Balcarce
                             <br>
                             logrando una muy buena complejidad 
                             <br>
                             aromática.
                             
                        </h4>
                    </div>
                </article>

                <article class="prod-bianchi">
                    <img src="../img/imgs/produc-bianchi-extra-but.webp" alt="">
                    <div class="data"> 
                        <h3> Bianchi Extra Brut </h3>
                        <p> $1.473 </p>
                        <h4> Varietal: 54% Chardonnay, 46% 
                             <br>
                             Pinot Noir.
                             <br>
                             Tipo: Extra Brut.
                             <br>
                             Tipo de cosecha: Manual.
                            <br>
                             Método de elaboración: Charmat.
                            <br>
                             Región: Doña Elsa y Las Paredes, San 
                             <br>
                             Rafael, Mendoza.	
                        </h4>
                    </div>
                </article>

                <article class="prod-deseado">
                    <img src="../img/imgs/produc-deseado-espumante-dulce.jpg" alt="">
                    <div class="data"> 
                        <h3> Deseado Espumante Dulce </h3>
                        <p> $1.899 </p>
                        <br>
                        <h4> Bodega: Familia Schroeder, San Patricio 
                            <br>
                            del Chañar. Provincia de Neuquén.
                            <br>
                            Tipo: Espumante
                            <br>
                            Variedad: Torrontes
                            <br>
                            Corte: 100% Torrontes
                            <br>
                            Alcohol: 9,8
                        </h4>
                    </div>
                </article>

                <article class="prod-buenosaires">
                    <img src="../img/imgs/produc-buenosaires-gin-moretti.webp" alt="">
                    <div class="data"> 
                        <h3> Buenos Aires Gin </h3>
                        <p> $3.950 </p>
                        <br>
                        <h4> Buenos Aires Gin fue nuestro primer 
                             <br>
                             producto, lanzado al mercado a finales
                            <br> 
                             de 2016, desde lo que en aquel momento 
                             <br>
                             era nuestro proyecto de garage.
                        </h4>
                    </div>
                </article>

                <article class="prod-bombay">
                    <img src="../img/imgs/produc-bombay-sapphire-dry-gin.jpg" alt="">
                    <div class="data"> 
                        <h3> Bombay Sapphire </h3>
                        <p> $9200 </p>
                        <br>
                        <h4> El nombre Bombay Sapphire proviene 
                             <br>
                             de la popularidad de la ginebra en la  
                             <br>
                             India en la época de la colonización 
                             <br>
                             británica.
                        </h4>
                    </div>
                </article>

            </section>
            
    </main>

    <footer class="pieDePagina">
        <div class="box">
        <h2>Seguinos!</h2>
                <div class="redSocial">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-youtube"></a></li>
                </div>
        </div>
        <div class="box">
            <ul>
                <h3>Navegación</h3>
                    <li>Inicio</li>
                    <li>Nosotros</li>
                    <li>Términos y condiciones</li>
                    <li>Vende tus productos con nosotros</li>
                    <li>Contactanos</li>
            </ul>
        </div>

            <div class="box1">
                <h3>Métodos de pago</h3>
                <div class="payments">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" class="visa" alt="visa" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" class="mastercard" alt="mastercard" width="48" height="30">
                    <br>
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" class="banelco" alt="ar_banelco" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" class="mercadopago" alt="mercadopago" width="48" height="30">
                    <br>
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" class="rapipago" alt="rapipago" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" class="pagofacil" alt="pagofacil" width="48" height="30">
                </div>
            </div>
        <div class="grupo2">
            <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
        </div>
    </footer>
    </body>
</html>