<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/productDetail.css">
    <title>Document</title>
</head>
<body>
    <body>
        <header>
                <div class="top-header">
    
                    <a href="../views/index.html">
                        <div class="logo-to-menu"> <img class="header-logo" src="../img/imgs/logo-sin-fondo-1-beige.png" alt="logo" > </a>
                    </a>
    
                    <!-- <button>
                        <div class="burger-menu">
                            <i class="fa fa-bars burger"></i>
                        </div>
                    </button> -->
    
                    <div class="searching">
                        <input class="search-nav" type="search" name="search-nav" placeholder="Busca tu producto">
                    
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <div class="buttons">
                        <button class="user"> <a href="../views/login.html"><i class="fa-solid fa-circle-user"></i></a> </button>
            
                        <button class="cart"> <a href="../views/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a> </button>
        
                    </div>
                    
                    
    
                </div>
                <nav>
                    <div>
                        
                        <ul class="navegacionBarra">
                            <li> <a href="../views/index.html">Home</a> </li>
                            <li> <a href="/">Productos</a> </li>
                            <li> <a href="../views/carrito.html">Carrito</a> </li>
                            <li> <a href="../views/login.html">Login</a> </li>
                            <li> <a href="../views/register.html">Crear Cuenta</a> </li>
    
                        </ul>
    
                    </div>
                </nav>
                <nav>
                    <div class="nav-bar">
                        
                        <!--<ul>
                            <li> <i class="fa-solid fa-wine-glass-empty"></i> <a href="">Vinos</a> </li>
                            <li> <i class="fa-solid fa-wine-bottle"></i> <a href="">Destilados</a> </li>
                            <li> <i class="fa-solid fa-utensils"></i> <a href="">Maridajes</a> </li>
                            <li> <i class="fa-solid fa-martini-glass-citrus"></i> <a href="">Cócteles</a> </li>
                            <li> <i class="fa-solid fa-tags"></i> <a href="">Ofertas</a> </li>
    
                        </ul>-->
    
                    </div>
    
                </nav>
            </header>
        
    <main>
        <div class="product1">
            <img class="product" src="../img/imgs/gin-merle-blue-.webp" alt="product-image" width="500px">
            <h3>Gin Merle Blue</h3>
            <h2>$8.000</h2>
            <button type="submit"> Agregar al carrito </button>
            <h4> Cantidad: </h4> <select name="product-amount" id="">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
            </select>
            <p class="desc">Descripción: 
                <br>
                1 Blue Merle 750cc.
                <br>
                Un Gin Premium 100% natural. Gracias a su particular combinación de botánicos transforma su color azulado en un original rosa al entrar en contacto con la tónica.</p>  
                
            <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
            <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
        </div>
        <hr>
        <hr>
        <div class="product2">
            <img class="product" src="../img/imgs/gin-bosque-alta-montaña.webp" alt="product2-image" width="500px">
            <h3>Gin Bosque Alta Montaña </h3>
            <h2>$10.000</h2>
            <button type="submit"> Agregar al carrito </button>
            <h4> Cantidad: </h4> <select name="product-amount" id="">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
            </select>
            <p class="desc">Descripción: 
                <br>
                1 Gin Bosque Alta Montaña 500ML

                <br>
                Este gin se elabora artesanalmente desde la selección de sus insumos hasta el embotellado del producto finalizado, todo el proceso es cuidadosamente supervisado de forma artesanal. Luego de cuatro destilaciones, se toma para embotellar solamente el corazón del gin, descartando en buenas proporciones las cabezas y colas de cada partida. Elaborado manualmente en cada etapa de su proceso. Esta Edicion de Bosque Gin Alta Montaña es una partida adapatada y diseñada para el frío de la alta montaña, inspirado en el Cerro Dos Picos, tiene una graduación Alcohólica de 53 grs</p>  
                
            <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
            <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
        </div>
        <hr>
        <hr>
        <div class="product3">
            <img class="product" src="../img/imgs/produc-bombay-sapphire-dry-gin.jpg" alt="product3-image" width="500px">
            <h3>Bombay Sapphire</h3>
            <h2>$9.200</h2>
            <button type="submit"> Agregar al carrito </button>
            <h4> Cantidad: </h4> <select name="product-amount" id="">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
            </select>
            <p class="desc">Descripción: 
                <br>
                1 Gin Bombay Sapphire 500ML

                <br>
                El nombre Bombay Sapphire proviene
                de la popularidad de la ginebra en la
                India en la época de la colonización
                británica.</p>  
                
            <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
            <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
        </div>
        <hr>
        <hr>
        <div class="product4">
            <img class="product" src="../img/imgs/prod -carmelo-patti.webp" alt="product4c-image" width="500px">
            <h3>Carmelo Patti</h3>
            <h2>$5.000</h2>
            <button type="submit"> Agregar al carrito </button>
            <h4> Cantidad: </h4> <select name="product-amount" id="">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
            </select>
            <p class="desc">Descripción: 
                <br>
                1 Gin Bombay Sapphire 500ML

                <br>
                Uva: 100% Malbec.
                Región: Agrelo & Perdriel, Luján de
                Cuyo, Mendoza.
                Alcohol: 13,8%.
                Enólogo: Carmelo Patti.</p>  
                
            <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
            <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
        </div>
    </main>
        <footer class="pieDePagina">
            <div class="box">
            <h2>Seguinos!</h2>
                    <div class="redSocial">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                    </div>
            </div>
            <div class="box">
                <ul>
                    <h3>Navegación</h3>
                        <li>Inicio</li>
                        <li>Nosotros</li>
                        <li>Términos y condiciones</li>
                        <li>Vende tus productos con nosotros</li>
                        <li>Contactanos</li>
                </ul>
            </div>
    
                <div class="box1">
                    <h3>Métodos de pago</h3>
                    <div class="payments">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" class="visa" alt="visa" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" class="mastercard" alt="mastercard" width="48" height="30">
                    <br>
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" class="banelco" alt="ar_banelco" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" class="mercadopago" alt="mercadopago" width="48" height="30">
                    <br>
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" class="rapipago" alt="rapipago" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" class="pagofacil" alt="pagofacil" width="48" height="30">
                    </div>
                </div>
            <div class="grupo2">
                <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
            </div>
        </footer>
</body>
</html>