/* ---------------------------CARRITO------------------------------ */
.carritoPag-trolley{
    margin: 80px;
}
.table-trolley{
    width: 100%;
    border-collapse: collapse;
}
.carritoInfo-trolley{
    display: flex;
    flex-wrap: wrap;
    color: #770d3b;
}
.th-trolley{
    text-align: left;
    padding: 5px;
    color: #770d3b;
    font-weight: bold;
}
.td-trolley{
    text-align: left;
    color: #770d3b;
    font-weight: bold;
    padding: 10px 5px;
}
.td-trolley select{
    width: 55px;
    height: 30px;
    padding: 5px;
    border: 2px solid #770d3b;
    border-radius: 4px;
    background-color: #d9d1c5;
}
.td-trolley img{
    width: 300px;
    height: 300px;
    margin-right: 30px;
}
.td-trolley p.prod-name-trolley{
    text-align: left;
    color: #770d3b;
    font-weight: normal;
    padding: 10px 5px;
}
.td-trolley small.tiny-price-trolley{
    text-align: left;
    color: #770d3b;
    font-weight: normal;
    padding: 10px 5px;
}
.totalPrecio-trolley{
    display: flex;
    justify-content: flex-end;
}
.totalPrecio-trolley table.final-table-trolley{
    border-top: 3px solid #770d3b;
    width: 100%;
    max-width: 350px;
}
.td-trolley:last-child{
    text-align: right;
}
.th-trolley:last-child{
    text-align: right;
}
