/* ---------------------------CARRITO------------------------------ */


.carritoPag-trolley{
    margin: 40px;
    padding: 1px;

}
.table-trolley{
    width: 100%;
    border-collapse: collapse;
}
.carritoInfo-trolley{
    display: flex;
    flex-wrap: wrap;
    color: #770d3b;
}
.th-trolley{
    text-align: left;
    padding: 5px;
    color: #770d3b;
    font-weight: bold;
}
.td-trolley{
    color: #770d3b;
    font-weight: bold;
    padding: 10px 5px;
    margin: auto;
}

.td-trolley select{
    width: 55px;
    height: 30px;
    padding: 5px;
    border: 2px solid #770d3b;
    border-radius: 4px;
    background-color: #d9d1c5;
}
.td-trolley img{
    width: 45vw;
    height: 30vh;
}
.td-trolley p.prod-name-trolley{
    text-align: left;
    color: #770d3b;
    font-weight: normal;
    padding: 10px 5px;
}
.td-trolley small.tiny-price-trolley{
    text-align: left;
    color: #770d3b;
    font-weight: normal;
    padding: 10px 5px;
    font-size: 14px;
}
.totalPrecio-trolley{
    display: flex;
    justify-content: flex-end;
}
.totalPrecio-trolley table.final-table-trolley{
    border-top: 3px solid #770d3b;
    width: 100%;
    max-width: 350px;
}
.td-trolley:last-child{
    text-align: right;
}
.th-trolley:last-child{
    text-align: right;
}

button.finish-purchase-carrito{
    padding: 9px;
    background-color: #770d3b;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #770d3b;
    border-radius: 6px;
    text-decoration: underline;
    margin: 0px 103px 50px 103px;
}

button.finish-purchase-carrito a{
    color: #d9d1c5;
}