.background{
    background-color: #fffbff !important;
}

.primary-color{
    color: #ffd9e2;
}

.secondary-color{
    color:#d9d1c5;
}

.dark-background{
    background-color: #212529;
    padding: 20px 0;
}

.secondary-dark-background{
    background-color: #262a2e;
}

.super-dark-background{
    background-color: #ffd9e2;
    padding: 20px 0;
}

.neutral-background{
    background-color: #7B2949;
    padding: 20px 0;
}

/* d9d1c5 */
@media (min-width: 361px) {
    .secondary-dark-background{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}