/* ------------------------------MAIN---------------------------------

.carrusel-index{
    width: 100vw;
    padding-top: 100px;
}

.products-index{
    display: flex ;
    align-items: center;
}

.productContainer-index{
    display: flex;
    flex-wrap: wrap;
    background-color: #350218;
}

.product-index {
    margin: 15px auto 15px auto;
    background-color:#d9d1c5;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #fff;
    height: 500px;
    max-width: 339px;
}

.imgProduct-index{
    width: 250px;
    padding: 0 50px 5px 15px;
    margin-left: 85px;
}

.product-index img{
    width: 40%;
    height: 50%;
}

.country-index .country-icon-index {
    width: 19px;
    height: 18px;
    margin-left: 16px;
    margin-top: 10px; 
}


.product-index:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-index h2.prod-price-index{
    margin: 8px 0 0 15px;
    font-weight: bold;
    color: #770d3b;
}

.product-index h3.prod-name-index{
    margin: 8px 0 0 15px;
    font-weight: bold;
    font-size: 20px;
}

.product-index .shipping-index{
    text-transform: uppercase;
    margin: 15px;
}

.product-index .rules-index{
    margin: 15px;
} */

.body-index{
    background-color: #350218;
}

.carrusel-index{
    display: none;
}

.h1-home{
    color: #d9d1c5;
    font-size: 31px;
    text-decoration: underline;
    margin-bottom: 50px;
}

.productContainer-index{
    text-align: center;
    margin: 0;
}

/* .prod-home{

} */

.prod-img-home{
    width: 50vw;
    margin: 16px;

}

.h2-prod-home{
    color: rgb(39, 38, 37);
    margin-bottom: 16px;
    text-decoration: underline;
    text-decoration-color: #887f71;
}

.gin-home{
    background-color: #887f71;
    margin: 35px;
    border: 1px solid #887f71;
    border-radius: 3px;
    /* box-shadow: 0px 0px 8px #000; */
}

.wine-home{
    background-color: #887f71;
    margin: 35px;
    border: 1px solid #887f71;
    border-radius: 3px;
    /* box-shadow: 0px 0px 8px #000; */
}

.whisky-home{
    background-color: #887f71;
    margin: 35px;
    border: 1px solid #887f71;
    border-radius: 3px;
    /* box-shadow: 0px 0px 8px #000; */
}


































