/* ------------------------------MAIN--------------------------------- */

.carrusel-index{
    width: 100vw;
    padding-top: 100px;
}

.products-index{
    display: flex ;
    align-items: center;
}

.productContainer-index{
    display: flex;
    flex-wrap: wrap;
}

.product-index {
    margin: 15px auto 15px auto;
    background-color:#fff;
    border-radius: 10px;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 500px;
    max-width: 339px;
}

.imgProduct-index{
    width: 250px;
    padding: 0 50px 5px 15px;
    margin-left: 85px;
}

.product-index img{
    width: 40%;
    height: 50%;
}

.country-index .country-icon-index {
    width: 19px;
    height: 18px;
    margin-left: 16px;
    margin-top: 10px; 
}


.product-index:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-index h2.prod-price-index{
    margin: 8px 0 0 15px;
    font-weight: bold;
    color: #770d3b;
}

.product-index h3.prod-name-index{
    margin: 8px 0 0 15px;
    font-weight: bold;
    font-size: 20px;
}

.product-index .shipping-index{
    text-transform: uppercase;
    margin: 15px;
}

.product-index .rules-index{
    margin: 15px;
}


































