*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d1c5;
    align-items: center;
    justify-content: center;
}
/* ---------------------------HEADER------------------------------- */
img.header-logo{
    display: block;
    margin: auto;
    padding: 10px;
    width: 200px;
    
}
.top-header{
    background-color:#7b1d46 ;
}
.searching{
    position: center;
    padding: 5px;
}
.searching input{
    width: 240px;
    height: '40px';
    padding: 0px 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
/*.search-nav{
    margin-left: 85px;  ACOMODAR 
    border:1px solid;
    border-radius: 3px;
    width: 500px;
    background-color: white;
}*/
.navegacionBarra{
    list-style: none;
    padding: 0;
    background: #7b1d46;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.navegacionBarra li a{
    text-decoration: none;
    color: #d9d1c5;
    padding: 20px;
    display: block;
}
.navegacionBarra li{
    display: inline-block;
    text-align: center;
}
.navegacionBarra li:hover{
    background: #770d3b;
}

/* ------------------------------MAIN--------------------------------- */

p{
    border: 5px solid green;
    font-size: 100px;
}

/* ---------------------------FOOTER------------------------------- */
.pieDePagina{
    background-color: #7b1d46;
    width: 100%;

}
.pieDePagina {
    background-color: #7b1d46;
    width: 100%;
    margin: auto; 
    padding: 25px 10px;
}

.pieDePagina .box2{
    text-align:center;
    width: 360px;
   
}

.pieDePagina .box h2{
    color: #d9d1c5;
    text-align: center;
    padding-bottom: 15px;
}

.pieDePagina .box h3{
    color: #d9d1c5;
    text-align: center;
    padding-bottom: 15px;
}

.pieDePagina .box2 li{
    color: #d9d1c5;
    margin-bottom: 10px;
    list-style-type: none;
    
}
.pieDePagina .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #d9d1c5;
    margin-right: 10px;
    background-color: #770d3b;
    text-align: center;
    transition: all 300ms ease;
}
.pieDePagina .redSocial{
    align-items: center;
    display: flex;
    justify-content: space-between;
   

}

.pieDePagina .redSocial a:hover{
    color: aqua; 
}
.pieDePagina .grupo2{
    background-color: #770d3b;
    padding: 15px 20px;
    text-align: center;
    color: #d9d1c5;
}

.pieDePagina .box1 h3{
    color: #d9d1c5;
    padding:15px 0 15px;
    text-align: center;
}

.pieDePagina .box1 .payments{
    text-align: center;
}
/*-------------- MEDIA PARA TABLETS NOTEBOOKS Y PCs---------------------------*/

@media (min-width: 361px){
   .pieDePagina .box .redSocial{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
   
    
    
   }  
}



































/* @media (min-width: 361px) {
    img.header-logo{
        display: block;
        margin: auto;
        padding: 10px;
        width: 200px;
    }
    .top-header{
        background-color:#7b1d46 ;
    }
    .searching{
        position: center;
        padding: 5px;
    }
    .searching input{
        width: 240px;
        height: '40px';
        padding: 0px 20px;
        font-size: 18px;
        color: black;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
    }
    .search-nav{
        margin-left: 85px;  ACOMODAR 
        border:1px solid;
        border-radius: 3px;
        width: 500px;
        background-color: white;
    }
    .navegacionBarra{
        list-style: none;
        padding: 0;
        background: #7b1d46;
        width: 100%;
        max-width: 2000px;
    }
    .navegacionBarra li a{
        text-decoration: none;
        color: #d9d1c5;
        padding: 20px;
        display: block;
    }
    .navegacionBarra li{
        display: inline-block;
        text-align: center;
    }
    .navegacionBarra li:hover{
        background: #770d3b;
    } */
    