body.login-body{
    background-color: #201a1b;
}

.login-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
}

.loginBox{
    margin: 50px;
    width: 320px;
    height: 420px;
    background-color: #201a1b;
    color: #ffd9e2;
    box-sizing: border-box;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginBox .avatar-login-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.loginBox h2.login-h2{
    color: #ffd9e2;
    margin: 20px 0 10px 0;
}
.loginBox label{
    margin: 10px 0;
    padding: 0;
    font-weight: bold;
    display: block;
    text-align: center;
}
.loginBox input{
    width: 20%;
    margin-bottom: 20px;
}
.loginBox input[type="email"],
.loginBox input[type="password"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 5px;
}

.loginBox button[type="submit"]{
    display: flex;
    margin: 10px auto;
    padding: 16px 4px;
    font-size: 15px;
    background-color: #7B2949;
    color: #ffd9e2;
    border: 1px solid #292c2b;
    border-radius: 5px;
    width: 160px;
    align-items: center;
    justify-content: space-around;
}
.loginBox a.login-a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    margin:  5px 0;
}

input:hover{
    border: 1px solid #ffd9e2;
    border-radius: 5px;
    transition: 300ms;
}

.reg2-button button:hover{
    transition: 500ms;
    padding: 26px 4px;
    font-size: 15px;
    background-color: #ffd9e2;
    color: #7B2949;
    border: 1px solid #292c2b;
    border-radius: 5px;
    width: 160px;
    
}

.container-login-a{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}