.login-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
}

.loginBox{
    width: 320px;
    height: 420px;
    background-color: #770d3b;
    color: #d9d1c5;
    box-sizing: border-box;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginBox .avatar-login-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.loginBox h1.login-h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginBox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #d9d1c5;
    background: transparent;
    outline: none;
    height: 40px;
    color: #d9d1c5;
}

.loginBox .rememberme-login{
    display: flex;
    
}

.loginBox .rememberme-login input{
    margin-left: 50px;
}

.loginBox .rememberme-login p{
    margin-right: 50px;
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #d9d1c5;
    color: #770d3b;
    font-size: 18px;
    border-radius: 20px;
}
.loginBox a.login-a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
}