*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d1c5;
    align-items: center;
    justify-content: center;
}

/* ------------------------------MAIN----------------------------- */

form.delete-form{
    display: flex;
    justify-content: center;
}

div.registroProducto-delete-form{
    background-color: #7b1d46;
    width: 50%;
    margin: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    color: #d9d1c5;
    font-size: 20px;
}

p.desc-delete-form{
    text-align: justify;
    font-size: 18px;
    padding: 10px;
}

h3.name-price-delete-form{
    text-decoration: underline;
}

h3.delete-title-delete-form{
    text-decoration: overline;
}

button.delete-button-delete-form{
    font-weight: bold;
    padding: 4px;
    margin: 15px;
    background-color: #d9d1c5;
    color: #7b1d46;
    border: 2px solid black;
    border-radius: 3px;
    width: 130px;
    height: 30px;
    font-size: 18px;
}