*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #191c1B;
    /* align-items: center;
    justify-content: center; */
}
input::placeholder {
    font-size: 15px;
}
/* --------------------------------MAIN------------------------------- */
.product-create-main2{
    text-align: center;
}
.registroProducto-prod-create-form2 h1{
    color: #ede9e9;
    margin: 50px 20px;
}
.prod-create-form2-box{
    position: relative;
    width: 90%;
    left: 5%;
}






.registroProducto-prod-create-form2{
    background-color: #7b1d46;
    margin: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #d9d1c5;
    text-decoration: underline;
    font-size: 20px;
}

div.registroProducto-prod-create-form input{
    border-radius: 5px;
    width: 70%;
    padding: 9px;
    margin: 7px;
    background-color: #e9dee2;
    color: #7b1d46;
    font-weight: bold;
    border: 2px solid black;
} 

/* #prod-img-prod-create-form{
    background-color: #7b1d46;
} */

div.categories-prod-create-form{
    display: flex;
    background-color: #e9dee2;
    color: #7b1d46;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 7px ;
}

div.prodCreate-buttons-prod-create-form button{
    width: 165px;
    background-color: #d9d1c5;
    color: #7b1d46;
    border: 2px solid black;
    border-radius: 9px;
    padding: 10px;
    margin: 0 10px 20px 10px;
    opacity: 0.9;
    font-weight:800;
}

.select-prod-create{
    border-radius: 5px;
    width: 70%;
    padding: 9px;
    margin: 7px;
    background-color: #e9dee2;
    color: #7b1d46;
    font-weight: bold;
    border: 2px solid black;
}

.js-front-prod-create-error{
    color:#7b1d46;
    background-color: #d9d1c5;
    font-weight: bold;
    font-size: 13px;
    margin: 8px;
    text-decoration: underline;
    text-decoration-color: #d9d1c5;
    text-transform: uppercase;
    border: 1px solid #d9d1c5;
    border-radius: 5px;
    padding: 3px;
    width: 50%;
    max-width: 500px;
}