/* -----------------MAIN----------------- */

div.registroProducto-edit-form{
    background-color: #7b1d46;
    margin: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #d9d1c5;
    text-decoration: underline;
    font-size: 20px;
}

div.registroProducto-edit-form input{
    border-radius: 5px;
    width: 70%;
    padding: 9px;
    margin: 7px;
    background-color: #e9dee2;
    color: #7b1d46;
    font-weight: bold;
    border: 2px solid black;
} 

div.prodEdit-buttons-edit-form button{
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    margin: 15px;
    background-color: #d9d1c5;
    color: #7b1d46;
    border: 1px solid black;
    border-radius: 4px;
}

img.edit-form-img-edit-form{
    margin-top: 10px;
    height: 300px;
    width: 110px;
}

.select-prod-edit{
    border-radius: 5px;
    width: 70%;
    padding: 9px;
    margin: 7px;
    background-color: #e9dee2;
    color: #7b1d46;
    font-weight: bold;
    border: 2px solid black;
}



.js-front-prod-edit-error{
    color:#7b1d46;
    background-color: #d9d1c5;
    font-weight: bold;
    font-size: 13px;
    margin: 8px;
    text-decoration: underline;
    text-decoration-color: #d9d1c5;
    text-transform: uppercase;
    border: 1px solid #d9d1c5;
    border-radius: 5px;
    padding: 3px;
    width: 50%;
    max-width: 500px;
}