*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d1c5;
    align-items: center;
    justify-content: center;
}

/* --------------------------------MAIN------------------------------- */
body.reg2-body{
    background-color: #201a1b;
}

input::placeholder{
    font-size: 15px;
    color: #ffd9e2;
}

.reg2-box{
    position: relative;
    width: 90%;
    left: 5%;
}

main.product2-main{
    text-align: center;
}

.product2 h1{
    text-align: center;
    color: #ffd9e2;
    margin: 50px 20px;
}

.reg2-name-product{
    margin: 20px;
}

.reg2-name-product input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color:#ffd9e2;
}

.reg2-description{
    margin: 20px;
}

.reg2-description input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color:#ffd9e2;
}

.reg2-price{
    margin: 20px;
}

.reg2-price input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color:#ffd9e2;
}
.reg2-year{
    margin: 20px;
}
.reg2-year input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
}
input#year{
    font-size: 16px;
    color: #ffd9e2;;
    background: color #201a1b;;
}
    

.reg2-varietal{
    margin: 20px;
}
.reg2-varietal input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
}

input#varietal{
    color:#ffd9e2;
}
    
.reg2-brand{
    margin: 20px;
}
.reg2-brand input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
}
input#brand{
    color:#ede9e9;
}
    
.reg2-origen{
    margin: 20px;
}
.reg2-origen input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
}
option#origen{
    color:#ede9e9;
    background-color: #201a1b;
}
    
.reg2-region{
    margin: 20px;
}
.reg2-region input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
}
option#region{
    color:#ffd9e2;
    background-color: #514346;
}
    
.reg2-category{
    margin: 20px;
}
.reg2-category input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
}
    
.select-prod-create {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffd9e2;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #514346; /* Cambio del fondo a #777e7c */
    color: #ffd9e2 /* Cambio del color de las letras a #ede9e9 */
  }
  
  .select-prod-create option {
    font-size: 16px;
    color: #ffd9e2;;
    background-color:#514346;
  }
.reg2-image{
    margin: 20px;
}
.reg2-image h2{
    color: #ffd9e2;
    font-size: 15px;
    padding-bottom: 10;
    text-align: left;
   
    
}
.reg2-image input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20 px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 5px;
    color: #ffd9e2;
    font-size: 15px;
}


   

.reg2-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-btn-reg2 {
    font-family: "Tillium", sans-serif; /* Fuente Tillium */
    font-size: 20px; /* Tamaño de fuente de 20px */
    font-weight: bold; /* Negrita */
  }

.reg2-button button{
    padding: 22px 30px;
    font-size: 15px;
    background-color: #7B2949;
    color: #ffd9e2;
    border: 1px solid #292c2b;
    border-radius: 1px;
    width: 160px;
}

.reg2-button button:hover{
    transition: 500ms;
    padding: 22px 30px;
    font-size: 15px;
    background-color: #514346;
    color: #ffd9e2;
    border: 1px solid #201a1b;
    border-radius: 1px;
    width: 160px;
}

.sub-btn-reg2{
    margin: 15px;
}



@media (min-width: 749px) {

    .reg2-image{
        margin: 20px;
        
    }
    
    .reg2-image h2{
        color: #ffd9e2;
      
    }
    
    .reg2-image input{
        width: 100%;
        margin-bottom: 20px;
        padding: 12px 20px;
        background-color: #514346;
        border: 1px solid #ffd9e2;
        border-radius: 0;
    }

    .reg2-button{
        margin: 15px 80px;
        display: flex;
    }

    .sub-btn-reg2{
        margin-right: 4%;
    }
    p{
        color: #6F233F  #A0445D  #CB5C64  #A0445D;
    }
    
    input::placeholder{
        font-size: 15px;
        color: #ffd9e2;
        opacity: 1;
    }   
    
}