/* -----------------MAIN----------------- */

div.registroProducto-edit-form{
    background-color: #7b1d46;
    margin: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #d9d1c5;
    text-decoration: underline;
    font-size: 20px;
}

div.registroProducto-edit-form input{
    border-radius: 3px;
    width: 50%;
    padding: 5px;
    margin: 7px;
    background-color: #e9dee2;
    border: 2px solid black;
} 

div.prodCreate-buttons-edit-form button{
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    margin: 15px;
    background-color: #d9d1c5;
    color: #7b1d46;
    border: 1px solid black;
    border-radius: 4px;
}

img.edit-form-img-edit-form{
    margin-top: 10px;
    height: 300px;
    width: 110px;
}

.category-select-edit-form{
    display: flex;
    background-color: #e9dee2;
    color: #7b1d46;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 7px;
    font-weight: 800;
    text-transform: uppercase;
}