/* -----------------MAIN----------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #201a1b;
    align-items: center;
    justify-content: center;
}

/* --------------------------------MAIN------------------------------- */
body.edit-body-product2{
    background-color: #201a1b;
}

main.prod-edit-form-main{
    text-align: center;
}

.edit2-box{
    position: relative;
    width: 90%;
    left: 5%;
}

.registroProducto-edit-form2 h1{
    text-align: center;
    color: #ffd9e2;
    margin: 90px 20px;
    font-size: 32px;
    /* font-family: lato sans-serif; */
}

.edit2-name-product{
    margin: 20px;
}

.edit2-name-product input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color:#ffd9e2;
}

.edit2-description{
    margin: 20px;
}

.edit2-description input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}

.edit2-price{
    margin: 20px;
}

.edit2-price input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}
.edit2-year{
    margin: 20px;
}
.edit2-year input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}

.edit2-varietal{
    margin: 20px;
}
.edit2-varietal input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}

.edit2-brand{
    margin: 20px;
}
.edit2-brand input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}

.edit2-origen{
    margin: 20px;
}
.edit2-origen input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}

.edit2-region{
    margin: 20px;
}

.edit2-region input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}
.edit2-category{
    margin: 20px;
}
.edit2-category input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
}

.select-prod-edit {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffd9e2;;
  }
  
  .select-prod-edit option {
    font-size: 16px;
    color: #ffd9e2;
  }

.edit2-image{
    display: flex;
    justify-content: center;
    margin:20px;
    /* background-color: #514346;
    border: 1px solid #ffd9e2; */
    border-radius: 0;
    box-sizing: border-box;
}

.load-img-prod-edit{
    display: flex;
    justify-content: center;
    /* flex-direction: row;
    columns: 2;
    align-items: flex-end; */

}

.edit2-image-product-form2 h2{
    color: #ffd9e2;
    font-size: 16px; 
}

.edit2-image-product-form2 {
    text-align: center;
    color: #ffd9e2;
    font-size: 28px;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}


.edit2-image-product-form2 input{
    width: 100%;
    background-color: #514346;
    border: 1px solid #ffd9e2;
    border-radius: 0;
    color: #ffd9e2;
    font-size: 15px;
}

input#image {
    /* display: flex;
    justify-content: center;
    align-self: center; */
    background-color: #514346;
    color: #ffd9e2;
    border: 1px solid #ffd9e2;
    padding: 10px;
    /* border: none; */
    border-radius: 4px;
    /* width: 54%;
    margin-left: 23px; */
  }

.prodEdit-buttons-edit-form2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-prodEdit-buttons-edit-form2 {
    font-family: "Tillium", sans-serif; /* Fuente Tillium */
    font-size: 20px; /* Tamaño de fuente de 20px */
    font-weight: bold; /* Negrita */
  }

.prodEdit-buttons-edit-form2 button{
    padding: 22px 30px;
    font-size: 15px;
    background-color: #7b2949;
    border: 1px solid #292c2b;
    color: #ffd9e2;
    border-radius: 1px;
    width: 160px;
}

.prodEdit-buttons-edit-form2 button:hover{
    transition: 500ms;
    padding: 22px 30px;
    font-size: 15px;
    background-color: #514346;
    border: 1px solid #201a1b;
    color: #ffd9e2;
    border-radius: 1px;
    width: 160px;
}

.sub-prodEdit-buttons-edit-form2{
    margin: 15px;
}

.grupo2{
    text-align: center;
}


@media (min-width: 749px) {
    .edit2-image{
        margin: 20px;  
    }
    
    .edit2-image-product-form2 h2{
        color: #ffd9e2;
    }
    
    .edit2-image input{
        width: 100%;
        margin-bottom: 20px;
        padding: 12px 20px;
        background-color: #514346;
        border: 1px solid #ffd9e2;
        border-radius: 0;
    }

    .prodEdit-buttons-edit-form2{
        margin: 15px 80px;
        display: flex;
    }

    .sub-prodEdit-buttons-edit-form2{
        margin-right: 4%;
    }
    
    
}