/* -----------------------------REGISTER2----------------------------- */
body.reg2-body{
    background-color: #312f2d;
}



input{
    color: #fff
}



.reg2-box{
    position: relative;
    width: 90%;
    left: 5%;
}

main.register2-main{
    text-align: center;
}

.register2 h1{
    color: #ede9e9;
    margin: 50px 20px;
}

.reg2-name-lastname{
    margin: 20px;
}

.reg2-name-lastname input{
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: #350218;
    opacity: 0.5;
    border: 1px solid #350218;
    border-radius: 5px;
}

.reg2-username-email{
    margin: 20px;
}

.reg2-username-email input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: #350218;
    opacity: 0.5;
    border: 1px solid #350218;
    border-radius: 5px;
}

.reg2-password-confpassword{
    margin: 20px;
}

.reg2-password-confpassword input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: #350218;
    opacity: 0.5;
    border: 1px solid #350218;
    border-radius: 5px;
}

.reg2-prof-img{
    margin: 20px;
}

.reg2-prof-img h2{
    color: #ede9e9;
    margin: 20px;
}

.reg2-prof-img input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: #350218;
    opacity: 0.5;
    border: 1px solid #350218;
    border-radius: 5px;
    color: #777e7c;
    font-size: 15px;
}

/* input#file-upload-button{
    color: #292c2b;
} */

.reg2-terms-cond-register{
    margin: 30px;
    color: #fff;
}

.reg2-terms-cond-register:hover{
    text-decoration: underline;
    transition: 500ms;
}

.reg2-terms-cond-register input{
    margin: 10px;
}

.reg2-button{
    display: flex;
    /* margin: 40px 20px; */
    text-align: left;
    align-items: center;
    justify-content: space-around;
}

.reg2-button button{
    display: flex;
    padding: 26px 4px;
    font-size: 15px;
    background-color: #292c2b;
    color: #ede9e9;
    border: 1px solid #292c2b;
    border-radius: 5px;
    width: 160px;
    align-items: center;
    justify-content: space-around;
}


.sub-btn-reg2{
    margin: 15px;
}

.del-btn-reg2{
    margin: 15px;
}


@media (min-width: 749px) {
    .reg2-name-lastname{
        margin: 15px 80px;
        display: flex;
    }
    
    .reg2-name-lastname input{
        width: 100%;
        padding: 18px 20px;
        border: 1px solid #350218;
    }
    
    .reg2-name-lastname input#name{
        margin-right: 10px;
    }
    
    .reg2-name-lastname input#lastname{
        margin-left: 10px;
    }
    
    .reg2-username-email{
        margin: 10px 80px;
    }
    
    .reg2-username-email input{
        width: 100%;
        margin-bottom: 20px;
        padding: 12px 20px;
        
    }
    
    .reg2-password-confpassword{
        margin: 15px 80px;
        display: flex;
    }
    
    .reg2-password-confpassword input{
        width: 100%;
        padding: 18px 20px;
        
    }
    
    .reg2-password-confpassword input#password{
        margin-right: 10px;
    }
    
    .reg2-password-confpassword input#confpassword{
        margin-left: 10px;
    }
    
    .reg2-prof-img{
        margin: 15px 80px;
    }
    
    .reg2-prof-img h2{
        color: #ede9e9;
        margin: 20px;
    }
    
    .reg2-prof-img input{
        width: 100%;
        margin-bottom: 20px;
        padding: 12px 20px;
        
    }
    
    .reg2-button{
        margin: 15px 80px;
        display: flex;
    }

    .sub-btn-reg2{
        margin-right: 4%;
    }
    
    .del-btn-reg2{
        margin-left: 4%;
    }
}

input:hover{
    border: 1px solid #fff;
    border-radius: 5px;
    transition: 300ms;
}

.reg2-button button:hover{
    transition: 500ms;
    padding: 26px 4px;
    font-size: 15px;
    background-color: #8c9a96;
    color: #ede9e9;
    border: 1px solid #292c2b;
    border-radius: 5px;
    width: 160px;
    
}

p{
    color: #6F233F  #A0445D  #CB5C64  #A0445D;
}

input::placeholder{
    font-size: 15px;
    color: #fff;
    opacity: 1;
}