/* -----------------------------REGISTER----------------------------- */
main.register-main{
    text-align: center;
}

.register h3.h3-register{
    font-size: 36px;
    margin: 20px;
    color:#7b1d46 ;
    text-decoration: underline;
}

.register h4.profile-img-register{
    font-size: 20px;
}

.register input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.register input[type="file"]{
    background-color: #fff;
}

button.register-buttons{
    background-color: #7b1d46;
    color: #d9d1c5;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    padding: 8px;
    margin: 0 10px 20px 10px;
    opacity: 0.9;
}

.terms-cond-register{
    margin: 10px;
    padding: 10px;
    text-align: left;
}