*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d1c5;
    align-items: center;
    justify-content: center;
}
/* ---------------------------HEADER------------------------------- */
img.header-logo{
    display: block;
    margin: auto;
    padding: 10px;
    width: 200px;
    
}

.top-header{
    background-color:#7b1d46 ;
}

.searching{
    position: center;
    padding: 5px;
}
.searching input{
    width: 240px;
    height: '40px';
    padding: 0px 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
/*.search-nav{
    margin-left: 85px;  ACOMODAR 
    border:1px solid;
    border-radius: 3px;
    width: 500px;
    background-color: white;
}*/
.navegacionBarra{
    list-style: none;
    padding: 0;
    background: #7b1d46;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.navegacionBarra li a{
    text-decoration: none;
    color: #d9d1c5;
    padding: 20px;
    display: block;
}
.navegacionBarra li{
    display: inline-block;
    text-align: center;
}
.navegacionBarra li:hover{
    background: #770d3b;
}
/* ---------------------------FOOTER------------------------------- */
.pieDePagina{
    background-color: #7b1d46;
    width: 100%;
}
.pieDePagina .grupo1{
    background-color: #7b1d46;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid; /*propiedad grid*/
    grid-template-columns: repeat(4, 1fr);/*para que se aplique grid en columnas*/
    grid-gap: 50px; /*separa las lineas de texto en relacion con dimesion*/
    padding: 45px 0px;
}
.pieDePagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.pieDePagina .grupo1 .box figure img{
    width: 250px;
}
.pieDePagina .grupo1 .box h2{
    color: #d9d1c5;
    margin-bottom: 25px;
    font-size: 20px;
}
.pieDePagina .grupo1 .box li{
    color: #d9d1c5;
    margin-bottom: 10px;
    list-style-type: none;
}
.pieDePagina .grupo1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #d9d1c5;
    margin-right: 10px;
    background-color: #770d3b;
    text-align: center;
    transition: all 300ms ease;
}
.pieDePagina .grupo1 .redSocial a:hover{
    color: aqua
}
.pieDePagina .grupo2{
    background-color: #770d3b;
    padding: 15px 10px;
    text-align: center;
}
    /* 
div.burger-menu{
    text-align: center;
}

div.burger-menu {
    border-radius: 5px;
    color: #000;
    font-size: 20px;

} */

/* -----------------------------REGISTER----------------------------- */
main{
    text-align: center;
}

.register input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px
}

.register p{
    margin: 10px 0 3px 10px;
    padding: 10px 0 3px 4px;
}

.register input[type="date"]{
    margin-top: 5px;
}

button{
    background-color: #7b1d46;
    color: #d9d1c5;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px 20px 10px;
    opacity: 0.9;
}

.terms-cond{
    margin: 10px;
    padding: 10px;
    text-align: left;
}

@media (min-width: 361px){
    
}

@media (min-width: 769px){

}