.centered-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.centered-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}

.container-subtitle{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 15px;
    padding-left: 5px;    
}

.centered-paragraph{
    text-align: center;
    width: 90%;
    margin: 0px auto 10px auto;
    padding: 0 20px;
}

.left-paragraph{
    text-align: left;
    width: 90%;
    margin: 0px auto 10px auto;
    padding: 0 20px;
}


.container-list{
    text-align: center;
    margin: 20px auto 20px auto;
}

.container-list ul{
    margin: 0;
    padding: 0;
}

.container-list ul li {
    list-style: none;
}

.bold{
    font-weight: bold;
    font-size: 22px;
}

.none-media-small{
    display: none;
}

.text-item{
    margin: 0 10px;
}

.data-item{
    display: flex;
}

.top-text-item{
    font-weight: bold;
}

.bottom-text-item{
    display: flex ;
}

.bottom-text-item p{
    margin: 5px ;
}

.paragraph-amount{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 75%;
 margin: 20px;
}

.paragraph-amount p{
    margin: 5px;
}

/* TABLET */
@media (min-width: 361px) {
    
    .centered-title{
        padding-bottom: 20PX;
    }

    .container-subtitle{
        width: 80%;
        max-width: 1016px;
    }
}

@media (min-width: 576px) {
    .none-media-medium{
        display: none;
      }

      .none-media-small{
        display: block;
    }

    .container-subtitle table{
        max-width: 600px;
    }

    .bottom-container{
        margin: auto;
        max-width: 688px;
    }

    .box-footer{
        width: 30%;
    }
}

/* DESKTOP */
@media (min-width: 1280px) {
    
    .centered-paragraph{
        text-align: center;
        width: 60%;
    }

   
}