.centered-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.centered-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
}

.centered-paragraph{
    text-align: center;
    width: 90%;
    margin: auto;
}

/* DESKTOP */
@media (min-width: 1280px) {
    
    .centered-paragraph{
        text-align: center;
        width: 60%;
    }
}