<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>
    <%- include('./partials/header') %> 
    <hr>
    <h1> Página En Construcción </h1>
            <img src="../img/imgs/Error_404_bebida.jpg" alt="404">
                   
    <%- include('./partials/footer') %> 
</body>
</html>