<!DOCTYPE html>
<html lang="en">
    <!-- BORRE EL HEAD -->
    <body>
     <!-- BORRE EL HEADER -->
    <h1> Página En Construcción </h1>
            <img src="../img/imgs/Error_404_bebida.jpg" alt="404">
                   
    <!-- BORRE EL FOOTER -->
</body>
</html>