<!doctype html>
<html lang="en">
  <%- include('./partials/head2') %> 


<%- include('./partials/header2') %> 

<body class="background">

   <!-- Logo -->
   <div class="logo dark-background container-fluid">
    <img src="../img/icons/logo-sin-fondo-1-beige.png" alt="logo" />
  </div>

  <!-- Carousel -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/carousel/andres-molina-eUg90Mb23HQ-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/carousel/kym-ellis-aF1NPSnDQLw-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/carousel/quan-nguyen-yDSe7sggb9Q-unsplash (2).jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
  <!-- Category -->
  <div class="neutral-background">
    <div class="centered-title">
      <h2 class="primary-color">Categorias</h2>
    </div>
    <div class="container-fluid container-img">
      <div class="container-img-category">
        <img src="/img/store/gin/dragomir-ralchev-p72tPmGEOao-unsplash.jpg" alt="gin">
        <h4 class="centered-subtitle dark-red">Gin</h4>
      </div>
      <div class="container-img-category">
        <img src="/img/store/vodka/alec-favale-KIqw3GIhdHA-unsplash.jpg" alt="vodka">
        <h4 class="centered-subtitle dark-red">Vodka</h4>
      </div>
      <div class="container-img-category">
        <img src="/img/store/wine/alexandre-vasconcelos-BegPCwXFE2A-unsplash.jpg" alt="vino">
        <h4 class="centered-subtitle dark-red">Vino</h4>
      </div>
    </div>
  </div>

  <!-- Proposal -->
  <div class="dark-background">
    <div>
      <h2 class="centered-title secondary-color">Nuestra propuesta</h2>
    </div>
    <div>
      <p class="centered-paragraph secondary-color "> Aenean et sapien vel orci malesuada suscipit vel ac tellus.
        Suspendisse rutrum congue semper. Aenean ultricies
        ultricies enim, in pellentesque tellus euismod in. Morbi vehicula sed libero ut imperdiet.
        Fusce tempus sem quis scelerisque molestie. In venenatis mauris at molestie lobortis. Etiam dapibus mi in
        dignissim blandit. Etiam in aliquam tortor, at imperdiet neque. Aenean a tincidunt metus, a congue quam.
        Curabitur elementum iaculis sagittis.</p>
      </p>
    </div>
  </div>
  <!-- supplies -->
  <div class="container-fluid super-dark-background">
      <div>
        <h2 class="centered-title secondary-color">Insumos locales</h2>
      </div>
      <div class="centered-img">
        <img src="/img/store/foo/maja-petric-vGQ49l9I4EE-unsplash.jpg" alt="uvas">
      </div>
  </div>
  <div class="container-fluid dark-background">
    <div>
      <h2 class="centered-title secondary-color">Elaboración artesanal</h2>
    </div>
    <div class="centered-img">
      <img src="/img/store/foo/katherine-conrad-Q4F3ap6GF10-unsplash.jpg" alt="uvas">
    </div>
  </div>
  <div class="container-fluid super-dark-background">
    <div>
      <h2 class="centered-title secondary-color">Sustentabilidad</h2>
    </div>
    <div class="centered-img">
      <img src="/img/store/foo/sustentabilidad(2).png" alt="uvas">
    </div>
  </div>
    <div class="container-fluid dark-background">
      <h4 class="centered-subtitle secondary-color">Cada persona importa</h4>
      <div class="dark-background">
        <p class="centered-paragraph secondary-color ">Cada persona de nuestra Red de Relaciones es muy importante para
          nosotros.
          Hemos hecho un pacto social que busca reducir la desigualdad, la intolerancia y que promueve la inclusión social
          con acciones transformadoras a través de nuestro modelo de negocio.</p>  
      </div>
      
    </div>

    <%- include('./partials/footer2') %> 

    <!-- Incluir este script en todas las vistas para funcionalidad de navbar -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>