<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
   
    <div class = "carrusel">
      <div class="carrusel-items">
        <div class="carrusel-items">
          <img src="alambique-hero.webp" alt="">  
        </div>

        <div class="carrusel-items">
            <img src="B6A367FE-8D60-4885-A177-CC6C4E6D41A3.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="drinks-g462f51ba8_1280.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="florianopolis-gin.webp" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="grapes-g0612e5af7_1280.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="IMG_1979 copia.jpeg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="grapes-gd02b4cc4b_1280.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="lime-gd4d166b46_1280.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="Quatro-destiladores-de-600-Litros-de-Gin.webp" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="red-wine-g4d220a93e_1280.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="wine-g23752acc7_1280.jpg" alt="">  
          </div>

          <div class="carrusel-items">
            <img src="wine-ge12aa22fa_1280.jpg" alt="">  
          </div>
      </div>
    </div>
    <!-- <script src = "main.js"></script> -->
</body>
</html