<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    <body class="body-index">

    <%- include('./partials/header') %> 
    <!-- <hr> -->

        <main>
            <img class="carrusel-index" src="../img/carrusel/carrusel3.3.jpg" alt="carrusel">
            
            <!-- ---------------------------------------------------------- -->
            <section class="products-index">
                <div class="productContainer-index">

                    <h1 class="h1-home"> ¡NUESTRA TIENDA! </h1>

                    <div class="prod-home">
                        <a class="prod-a-home" href="/404">
                            <div class="gin-home">
                                <img src="/imagenesPrueba/gin2.jpg" alt="" class="prod-img-home">
                            <h2 class="h2-prod-home"> GIN <i class="fa-solid fa-martini-glass-citrus"></i> </h2>
                            </div>
                        </a>
                        
                        <a class="prod-a-home" href="/404">
                            <div class="wine-home">
                                <img src="/imagenesPrueba/vino4.jpg" alt="" class="prod-img-home">
                            <h2 class="h2-prod-home"> VINO <i class="fa-solid fa-wine-glass"></i> </h2>
                            </div>
                        </a>
                        

                        <a class="prod-a-home" href="/404">
                            <div class="whisky-home">
                                <img src="/imagenesPrueba/whisky2.jpg" alt="" class="prod-img-home">
                            <h2 class="h2-prod-home"> WHISKY <i class="fa-solid fa-whiskey-glass"></i> </h2>
                            </div>
                        </a>
                        
                    </div>
                    
                    <h2 class="proposal-h2-home"> NUESTRA PROPUESTA: </h2>
                    <div class="proposal-prod-home">
                        <img class="prop-img-home" src="/imagenesPrueba/bsas-gin9.jpg" alt="Propuesta" class="bsas-gin-home" width="270px">
                        <h4 class="prop-h4-home">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quis totam, maiores esse ad, adipisci voluptas reprehenderit illo distinctio voluptatem nobis quae ratione, eum accusamus excepturi nesciunt voluptates unde quibusdam?</h4>
                    </div>
                    
                </div>
            </section>         
        </main>
    <%- include('./partials/footer') %> 
    
</body>
</html>