<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="top-header">

        <a href="/">
            <div class="logo-to-menu"> <img class="header-logo" src="../img/imgs/logo-sin-fondo-1-beige.png" alt="logo" > </a>
        </a>
</header>
<main>
    <form action = "/">
        <div class="registroProducto">
            
            <button type="submit" value="Crear">CREAR</button>    
            <button type="submit" value="Editar">EDITAR</button>    
            
            <h3> ¡Registrate! </h3>
            <label for="codigo"></label>
            <input type="text" name="codigo" id="codigo" placeholder="Codigo" required>
            <br>
            <label for="nameproduct"></label>
            <input type="text" name="nombre" id="name" placeholder="Nombbre del Producto" required>
            <br>

            <label for="variedad"></label>
            <input type="text" name="variedad" id="variedad" placeholder="Variedad" required>
            <br>

            <label for="cosecha"></label>
            <input type="text" name="cosecha" id="cosecha" placeholder="Año de Cosecha" required>
            <br>

            <label for="pais"></label>
            <input type="text" name="pais" id="pais" placeholder="Pais de Origen" required>
            <br>

            <label for="crianza"></label>
            <input type="text" name="crianza" id="crianza" placeholder="Crianza"required>
            <br>

            <label for="region"></label>
            <input type="text" name="region" id="region" placeholder="Region" required>
            <br>

            <!-- <label for="birth"></label>
            <p class="birth-date">Fecha de nacimiento</p>
            <input type="date" name="nacimiento" id="birth">
            <br>
            <label for="address#1"></label>
            <input type="text" name="direccion" id="address#1" placeholder="Direccion 1" required>
            <br> -->

            <label for="description"></label>
            <input type="text" name="description" id="description" placeholder="Description*">
            <br>

            <!-- <label for="postal-code"></label>
            <input type="text" name="codigo postal" id="postal-code" placeholder="Código postal" required>
            <br>

            <label for="city"></label>
            <input type="text" name="ciudad" id="city" placeholder="Ciudad" required>
            <br>

            <label for="province"></label>
            <input type="text" name="provincia" id="province" placeholder="Provincia" required>
            <br>

            <label for="country"></label>
            <input type="text" name="pais" id="country" placeholder="País" required>
            <br>

            <label for="phone-number"></label>
            <input type="number" name="telefono" id="phone-number" placeholder="Teléfono celular" required> 
            <br>
            
            
        </div>
        <div class="terms-cond">
            <input type="checkbox" name="terminos y condiciones" id="" required>Acepto las condiciones de uso y políticas de privacidad.
        </div>
        <br> -->

        <button type="reset" value="Borrar">BORRAR</button>

        <button type="submit" value="Guardar">GUARDAR</button>


    </form>
</main>
</body>

<footer>
<div class="grupo2">
    <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
</div>
</footer>
