<footer class="container-fluid neutral-background primary-color">
    <div class="line"></div>

    <div class="container-left">
      <h4 class="centered-subtitle">Redes Sociales</h4>
      <div class="container-icon">
        <i class="bi bi-instagram fs-2 mb-3"></i>
        <i class="bi bi-facebook fs-2 mb-3"></i>
        <i class="bi bi-whatsapp fs-2 mb-3"></i>
      </div>
    </div>

    <div class="line"></div>

    <div class="container-list">
      <ul>
        <li>Nosotros</li>
        <li>Contacto</li>
        <li>Envios</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>

    <div class="line"></div>

    <div class="container-right">
      <a class="centered-subtitle"  data-bs-toggle="modal"  data-bs-target="#staticBackdrop">
        <h4 class="centered-subtitle">Elegí cómo pagar</h4>
      </a>
      <!-- Scrollable modal -->
      <div class="modal-dialog modal-dialog-scrollable">
        colocar modal
      </div>
    </div>

  </footer>
