<footer class="container-fluid d-sm-flex neutral-background primary-color">
    <div class="line none-media-medium"></div>

    <div class="box-footer">
      <h5 class="centered-subtitle">Redes Sociales</h5>
      <div class="container-icon">
        <i class="bi bi-instagram fs-2 mb-3"></i>
        <i class="bi bi-facebook fs-2 mb-3"></i>
        <i class="bi bi-whatsapp fs-2 mb-3"></i>
      </div>
    </div>

    <div class="line none-media-medium"></div>

    <div class="container-list box-footer">
      <ul>
        <li>Nosotros</li>
        <li>Contacto</li>
        <li>Envios</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>

    <div class="line none-media-medium"></div>

    <div class="box-footer">
        <h5 class="centered-subtitle">Elegí cómo pagar</h5>
        <div class="container-icon">
          <i class="bi bi-credit-card fs-2 mb-3"></i>
          <i class="bi bi bi-cash fs-2 mb-3"></i>
          <i class="bi bi-paypal fs-2 mb-3"></i>
        </div>
      
    </div>

  </footer>
