<footer class="pieDePagina">
    <div class="box">
    <h2>Seguinos!</h2>
            <div class="redSocial">
                <li><a href="/img/icons/Error_404_bebida.jpg" class="fa fa-facebook"></a></li>
                <li><a href="/img/icons/Error_404_bebida.jpg" class="fa fa-instagram"></a></li>
                <li><a href="/img/icons/Error_404_bebida.jpg" class="fa fa-twitter"></a></li>
                <li><a href="/img/icons/Error_404_bebida.jpg" class="fa fa-youtube"></a></li>
            </div>
    </div>
    <div class="box">
        <ul>
            <h3>Navegación</h3>
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Términos y condiciones</li>
                <li>Vende tus productos con nosotros</li>
                <li>Contactanos</li>
        </ul>
    </div>

        <div class="box1">
            <h3>Métodos de pago</h3>
            <div class="payments">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" class="visa" alt="visa" width="48" height="30">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" class="mastercard" alt="mastercard" width="48" height="30">
            <br>
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" class="banelco" alt="ar_banelco" width="48" height="30">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" class="mercadopago" alt="mercadopago" width="48" height="30">
            <br>
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" class="rapipago" alt="rapipago" width="48" height="30">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" class="pagofacil" alt="pagofacil" width="48" height="30">
            </div>
        </div>
    <div class="grupo2">
        <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
    </div>
</footer>