<footer class="container-fluid neutral-background">
    <div class="line"></div>

    <div>
      <h4 class="centered-subtitle dark-red">Redes Sociales</h4>
      <div class="container-icon">
        <i class="bi bi-instagram fs-2 mb-3"></i>
        <i class="bi bi-facebook fs-2 mb-3"></i>
        <i class="bi bi-whatsapp fs-2 mb-3"></i>
      </div>
    </div>

    <div class="line"></div>

    <div class="container-list">
      <ul>
        <li>Nosotros</li>
        <li>Contacto</li>
        <li>Envios</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>

    <div class="line"></div>

    <div>
      <h4 class="centered-subtitle dark-red">Elegí cómo pagar</h4>
      <p class="centered-paragraph primary-color ">
        Podés pagar con tarjeta, débito, efectivo o hasta 12 cuotas sin tarjeta con Mercado Crédito.</p>
      <a class="centered-subtitle"  data-bs-toggle="modal"  data-bs-target="#staticBackdrop"> Cómo pagar tus compras</a>
      <!-- Scrollable modal -->
      <div class="modal-dialog modal-dialog-scrollable">
        colocar modal
      </div>
    </div>

  </footer>
