 <header style="background-color: #7B2949;">
    <div class="container-fluid d-flex">
      <!-- NavBar -->
      <nav
        class="navbar bg-dark-subtle text-white navbar-expand-lg bg-body-tertiary d-flex align-items-center navbar-collapse">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-start" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/allProduct">Tienda</a>
            </li>
          <% if(locals.userLogged && locals.userLogged.rol_id == 2) {%>
            <li><a class="nav-link" href="/create">Crear producto</a></li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/carrito">Carrito</a>
              <% if (locals.userLogged) { %>
                <li><a class="nav-link" href="/logout">Cerrar sesión</a></li>
              <% } else { %>
                <li><a class="nav-link" href="/login">Inicia sesión</a></li>
                <li><a class="nav-link" href="/register">Registrate</a></li>
            <% } %>
            <% if (locals.userLogged) 
            { %>
                <li><a class="nav-link" href="profile">Mi perfil</a></li>
                <% } 
                %>
            </li>
          </ul>
        </div>
      </nav>
       <!-- Logo -->
       <div class="logo">
        <img  src="../img/icons/logo-sin-fondo-header.png" alt="logo" />
      </div>
           <!-- Search -->
           <div class="d-flex align-items-center justify-content-end">
            <div class="ms-2">
              <form class="d-flex" role="search">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-search"></i></button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <input class="form-control me-2" type="search" placeholder="Busca tu producto favorito" aria-label="Search">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- Cart -->
            <div class="ms-2">
              <button class="btn btn-outline-primary" type="submit"><i class="bi bi-cart-fill"></i> </button>
            </div>
          </div>
      


       
      
    </div>
  </header>