<header>
  <div class="top-header">
    <a href="/">
      <div class="logo-to-menu">
        <img
          class="header-logo"
          src="../img/icons/logo-sin-fondo-1-beige.png"
          alt="logo"
        />
      </div>
    </a>

    <!-- <button>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </button> -->

    <div class="searching">
      <input
        class="search-nav"
        type="search"
        name="search-nav"
        placeholder="Busca tu producto"
      />

      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="buttons">
      <button class="user">
        <a href="profile">
          <i class="fa-solid fa-circle-user"></i>
        </a>
      </button>

      <button class="cart">
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
      </button>
    </div>
  </div>
  <nav>
    <div>
      <ul class="navegacionBarra">
        <li><a href="/">Home</a></li>
        <li><a href="/allProduct">Productos</a></li>
        <li><a href="/carrito">Carrito</a></li>
        <li>

          <a href="/login">Login</a></li>
        <li><a href="/register">Registro</a></li>
        <li><a href="/create">Crear</a></li>
      <!-- </li>
      <% if (locals.userLogged) { %>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
      <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
      <% } %>
      </li> -->

      </ul>
    </div>
  </nav>
  <!-- <nav>
    <div class="nav-bar">
      <ul>
                <li> <i class="fa-solid fa-wine-glass-empty"></i> <a href="">Vinos</a> </li>
                <li> <i class="fa-solid fa-wine-bottle"></i> <a href="">Destilados</a> </li>
                <li> <i class="fa-solid fa-utensils"></i> <a href="">Maridajes</a> </li>
                <li> <i class="fa-solid fa-martini-glass-citrus"></i> <a href="">Cócteles</a> </li>
                <li> <i class="fa-solid fa-tags"></i> <a href="">Ofertas</a> </li>

            </ul>
    </div>
  </nav> -->
</header>
