<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/register.css">
    <title>Registro</title>
</head> -->
<%- include('../partials/head') %> 
<body>
    <!-- <header>
            <div class="top-header">

                <a href="/">
                    <div class="logo-to-menu"> <img class="header-logo" src="../img/imgs/logo-sin-fondo-1-beige.png" alt="logo" > </a>
                </a>

                <!-- <div class="searching">
                    <input class="search-nav" type="search" name="search-nav">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div> -->
            
                <!-- <button> <a href="/register"></a><i class="fa-solid fa-circle-user"></i> </button>   
                <button> <a href="/carrito"></a><i class="fa-solid fa-cart-shopping"></i> </button>-->

            <!-- </div>
            <nav>
                <div>
                    
                    <ul class="navegacionBarra">
                        <li> <a href="/">Home</a> </li>
                         <li> <a href="">Productos</a> </li>
                        <li> <a href="">Carrito</a> </li>
                        <li> <a href="">Login</a> </li>
                        <li> <a href="">Crear Cuenta</a> </li> -->

                    <!-- </ul>

                </div>
            </nav> 
    </header>  -->

    <%- include('../partials/header') %> 
    <hr>
    <main class="register-main">
        <form action = "/userSave" method="post" enctype="multipart/form-data" >
            <div class="register">

                <h3> ¡Registrate! </h3>
                <br>
                
                <label for="image"></label>
                <h4 class="prod-img-prod-create-form">Foto de perfil</h4><input type="file" name="avatar" id="image">
                <br>
                <!-- Revisar css -->

                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre"  required>
                <br>
    
                <label for="last-name"></label>
                <input type="text" name="lastname" id="last-name" placeholder="Apellido" required>
                <br>
    
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="E-mail" required>
                <br>
    
                <label for="user-name"></label>
                <input type="text" name="username" id="user-name" placeholder="Nombre de usuario" required>
                <br>
    
                <label for="phone-number"></label>
                <input type="number" name="telefono" id="phone-number" placeholder="Teléfono celular" required> 
                <br>
                
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <br>
    
                <label for="confirm-password"></label>
                <input type="password" name="confirmpassword" id="confirm-password" placeholder="Confirmar contraseña" required>
                <br>
    
                <!-- <label for="birth"></label>
                <p class="birth-date">Fecha de nacimiento</p>
                <input type="date" name="nacimiento" id="birth">
                <br>
                <label for="address#1"></label>
                <input type="text" name="direccion" id="address#1" placeholder="Direccion 1" required>
                <br>
    
                <label for="address#2"></label>
                <input type="text" name="direccion2" id="address#2" placeholder="Direccion 2 *Opcional*">
                <br>
    
                <label for="postal-code"></label>
                <input type="text" name="codigo postal" id="postal-code" placeholder="Código postal" required>
                <br>
    
                <label for="city"></label>
                <input type="text" name="ciudad" id="city" placeholder="Ciudad" required>
                <br>
    
                <label for="province"></label>
                <input type="text" name="provincia" id="province" placeholder="Provincia" required>
                <br>
    
                <label for="country"></label>
                <input type="text" name="pais" id="country" placeholder="País" required>
                <br>
    
                <label for="phone-number"></label>
                <input type="number" name="telefono" id="phone-number" placeholder="Teléfono celular" required> 
                <br> -->
                
                
            </div>
            <div class="terms-cond-register">
                <input type="checkbox" name="terminos y condiciones" id="" required>Acepto las condiciones de uso y políticas de privacidad.
            </div>
            <br>

            <button class="register-buttons"  type="reset" value="Borrar">BORRAR</button>

            <button class="register-buttons"  type="submit" value="Enviar">GUARDAR</button>


        </form>
    </main>
    <!-- <footer class="pieDePagina">
        <div class="box">
        <h2>Seguinos!</h2>
                <div class="redSocial">
                    <li ><a href="#" class="fa fa-facebook"></a></li>
                    <li ><a href="#" class="fa fa-instagram"></a></li>
                    <li ><a href="#" class="fa fa-twitter"></a></li>
                    <li ><a href="#" class="fa fa-youtube"></a></li>
                </div>
        </div>
        <div class="box">
            <ul>
                <h3>Navegación</h3>
                    <li>Inicio</li>
                    <li>Nosotros</li>
                    <li>Términos y condiciones</li>
                    <li>Vende tus productos con nosotros</li>
                    <li>Contactanos</li>
            </ul>
        </div>

            <div class="box1">
                <h3>Métodos de pago</h3>
                <div class="payments">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" class="visa" alt="visa" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" class="mastercard" alt="mastercard" width="48" height="30">
                    <br>
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" class="banelco" alt="ar_banelco" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" class="mercadopago" alt="mercadopago" width="48" height="30">
                    <br>
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" class="rapipago" alt="rapipago" width="48" height="30">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" class="pagofacil" alt="pagofacil" width="48" height="30">
                    <p>  </p>
                </div>
            </div>
        <div class="grupo2">
            <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
        </div>
    </footer> -->
    <%- include('../partials/footer') %> 
</body>
</html>